.pentacle {
  position: absolute;
  top: 0;
  left: 0;
}

.pentacle button {
  background-color: transparent;
  border: none;

  position: absolute;
  z-index: 2;
}

.pentacle button img {
  height: 80%;
  width: 80%;
}

.pentacle button img:hover {
  background-color: black;
}

.pentacle img {
  top: 0;
  left: 0;

  z-index: 1;
}

.pentacle .button_atom {
  top: 65px;
  left: 200px;
}

.pentacle .button_earth {
  top: 190px;
  left: 30px;
}

.pentacle .button_water {
  top: 190px;
  left: 370px;
}

.pentacle .button_fire {
  top: 390px;
  left: 95px;
}

.pentacle .button_wind {
  top: 390px;
  left: 310px;
}