.pentacle {
  position: relative;
  top: 0;
  left: 0;
}

.pentacle button {
  background-color: transparent;
  border: none;

  position: absolute;
  z-index: 2;
}

.pentacle button img {
  height: 100%;
  width: 100%;
}


.pentacle img {
  top: 0;
  left: 0;

  z-index: 1;
}

.pentacle .button_atom {
  top: 41px;
  left: 231px;
}

.pentacle .button_fire {
  top: 197px;
  left: 24px;
}

.pentacle .button_water {
  top: 197px;
  left: 440px;
}

.pentacle .button_earth {
  top: 440px;
  left: 100px;
}

.pentacle .button_wind {
  top: 440px;
  left: 366px;
}


.elemental {
  position: relative;
  left: 700px;
  top: -700px;
}

td {
  width: 150px; 
  height: 150px;
  padding: 5px;
}