img.background {
    position: relative;
    
    height: 100vh;
    width: 100vw;
    
    z-index: 1;
}

.connection {
    position: relative;

    top: -200px;
    left: 50px;

    z-index: 2;

    
}

form {
    color: white;
}

button {
    padding: 12px 32px;
}